*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    border-top: 30px solid #014916df;
    border-bottom: 30px solid #014916df;

    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0; */
}

#my_picture {
    width: auto; height: 160px;
    border: 2px solid;
    border-radius: 50%;
}

#calculator_img {
    width: 100px; height: auto;
}

#to-do_list_img {
    width: 100px; height: auto;
}

.tab{
    display: inline-block;
    margin-left: 4em;
}

.my_picture_box {
    margin: 5px; padding: 5px;
    position: relative;
    top: -30px;    

    width: 40%; height:max-content;
    display: flex;

    font-size: 12px;
    font-weight: lighter;
}

.texts {
    display: block;
    padding-top: 25px; padding-left: 10px;
}

#github_link, #linkedin_link {
    text-decoration: none;
}

.projects_show {
    display: flex;
    width: auto;
    margin: 10px;
}

.project_show {
    margin: 10px; padding: 10px;
    background-color: rgb(254, 254, 254);
    border-radius: 10%;
    box-shadow: 1px 2px rgb(200, 199, 199);
}