*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: "web_VT323_font";
    src: url("fonts/VT323-Regular.ttf");
}

@keyframes scaleUp {
    0% {transform: scale(1.1);}
    25% {transform: scale(1.2);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1.4);}
}

body {
    border-top: 30px solid #014916df;
    border-bottom: 30px solid #014916df;

    width: fit-content; height: fit-content;
}

.page_heading {
    display: flex;
}

.other_minor_projects {
    line-height: 30px;
    padding-top: 10px;
    
    position: relative;
    right: 0%;
}

.other_minor_projects > h3 {
    font-family: "web_VT323_font";
    font-size: 30px;
}

#my_pic_svg {
    width: 150px; height: auto;
}

.tab{
    display: inline-block;
    margin-left: 4em;
}

.my_picture_box {
    margin: 5px; margin-left: 100px; padding: 5px;
    position: relative;
    top: -25px;    

    width: 40%; height:max-content;
    display: flex;

    font-size: 12px;
    font-weight: lighter;
}

.texts {
    position: relative;
    top: 20px; left: 5px;
    padding: 5px;
    
    display: block;
    padding-left: 10px;

    border-top-right-radius: 5%; border-bottom-right-radius: 5%;
    width: fit-content; height: fit-content;

    border-left: 4px solid #014916df;
    background-color: #8db99adf;
}

.github_link, .linkedin_link, .ytb_link {
    text-decoration: none;
}

.projects_show {
    display: flex;
    margin-left: 25px;
}

.project_show {
    width: fit-content; max-width: 600px;
    height: fit-content;
    margin: 10px; padding: 10px;

    font-size: 0.8rem;
    line-height: 1.3rem;

    text-align: center;
}

.project_show_heading {
    width: 100%; height: fit-content;
    padding: 10px;

    display: flex;
}

.project_show_title {
    font-family: "web_VT323_font";
    font-size: 30px; font-weight: 600;

    margin-inline-start: 50%;
}

.project_link_ytb, .project_link_github {
    position: relative;
    text-decoration: none;
    font-size: 25px;
    margin-right: 5px;
}

.project_link_ytb:hover, .project_link_github:hover {
    animation: scaleUp .25s forwards;
}

.project_show > img {
    min-width: 40%; max-width: 80%; height: auto;
    
    margin-top: 20px; margin-bottom: 20px;

    border-radius: 2px;
    box-shadow: 0px 1px 0px 2px rgb(102, 101, 101);
}

.project_show > iframe {
    margin: 2px; margin-top: 10px;
    width: 100%; height: 300px;
}

.project_show > ul {
    margin-top: 5px; margin-left: 15px;
    text-align: justify;
    line-height: 30x;
}
